*.~uml
*.csv 
*.dll
*.log
*.exe
bin/hive
*.txt
*.dump
*.dmp
.vs/
temp/
lib/
*.dat 

static/

#ignore this dir##
/.vs/
/lib/
/temp/
/ipch/
/bin/log/
bin/.vscode/
/bin/lua/.vscode
/bin/env/gaven
/bin/excel2lua/cfg_dir
/bin/excel2lua/cfg_xls


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.exp
*.out
*.app

# msvc
*.db
*.suo
*.user
*.opendb
*.sdf
*.opensdf

#fgui
*.info

#hive
*.err

/bin/env-enic
/bin/env-enic-db
*.zip
*.7z
*.tar
bin/luac
/.vscode/settings.json
/bin/start-enic-test.bat
bin/start-enic-db.sh
bin/start-enic-db-t.sh
bin/start-enic-db-t.bat
bin/start-enic-db.bat
