[submodule "extend/lualog"]
	path = extend/lualog
	url = https://github.com/xiyoo0812/lualog.git
[submodule "extend/luaxlsx"]
	path = extend/luaxlsx
	url = https://github.com/xiyoo0812/luaxlsx.git
[submodule "script/luaoop"]
	path = script/luaoop
	url = https://github.com/xiyoo0812/luaoop.git
[submodule "script/luabt"]
	path = script/luabt
	url = https://github.com/xiyoo0812/luabt.git
