[submodule "script/luaoop"]
	path = script/luaoop
	url = https://github.com/xiyoo0812/luaoop.git
[submodule "script/luabt"]
	path = script/luabt
	url = https://github.com/xiyoo0812/luabt.git
[submodule "extend/luaext"]
	path = extend/luaext
	url = https://github.com/xiyoo0812/luaext.git
[submodule "extend/mimalloc/mimalloc"]
	path = extend/mimalloc/mimalloc
	url = https://github.com/microsoft/mimalloc.git
