[submodule "script/luaoop"]
	path = script/luaoop
	url = https://github.com/xiyoo0812/luaoop.git
[submodule "script/luabt"]
	path = script/luabt
	url = https://github.com/xiyoo0812/luabt.git
[submodule "extend/mimalloc/mimalloc"]
	path = extend/mimalloc/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "extend/lmake"]
	path = extend/lmake
	url = https://github.com/xiyoo0812/lmake.git
[submodule "extend/ltimer"]
	path = extend/ltimer
	url = https://github.com/xiyoo0812/ltimer.git
[submodule "extend/lcrypt"]
	path = extend/lcrypt
	url = https://github.com/xiyoo0812/lcrypt.git
[submodule "extend/lualog"]
	path = extend/lualog
	url = https://github.com/xiyoo0812/lualog.git
[submodule "extend/lhttp"]
	path = extend/lhttp
	url = https://github.com/xiyoo0812/lhttp.git
[submodule "extend/lcurl"]
	path = extend/lcurl
	url = https://github.com/xiyoo0812/lcurl.git
[submodule "extend/lstdfs"]
	path = extend/lstdfs
	url = https://github.com/xiyoo0812/lstdfs.git
[submodule "extend/luaxlsx"]
	path = extend/luaxlsx
	url = https://github.com/xiyoo0812/luaxlsx.git
[submodule "extend/lbuffer"]
	path = extend/lbuffer
	url = https://github.com/xiyoo0812/lbuffer.git
[submodule "extend/lua/lua"]
	path = extend/lua/lua
	url = https://github.com/xiyoo0812/lua.git
