<html>

<head>
    <title>协议测试</title>
    <style type="text/css">
    </style>
    <link id="custom-css" rel="stylesheet" type="text/css"/>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js"></script>
</head>

<body>
    <div ng-app="robot" ng-controller="protocol">
        <div class="left-half">
            <div class="show-stage-area pipeline-stage">
                <button type="button" class="bk-button-normal bk-button pipeline-stage-entry light-gray"
                    ng-click="setupTestCase()">
                    <div class="center-box">
                        <div class="stage-content">{{curCaseName}}</div>
                    </div>
                </button>
                <div class="left-pad">
                    <p>服务器地址: {{serverAddr}}</p>
                    <p>OpenID: {{openid}}</p>
                </div>
                <div class="pad-line"></div>
            </div>
            <div ng-show="showOperator" class="list-item pipeline-drag show-stage-area pipeline-stage">
                <button type="button" class="bk-button-normal bk-button pipeline-stage-entry light-gray">
                    <div class="stage-container">
                        <div class="stage-content">{{robotStatus}}</div>
                        <div id="heartbeat-light" class="heartbeat-icon light-gray"></div>
                    </div>
                </button>
                <ul class="soda-process-stage">
                    <div class="soda-stage-container">
                        <h3 class="container-title first-ctitle">
                            <span id="start-btn" class="stage-status container blue" ng-click="startRobot()">启动</span>
                            <p class="container-name" ng-click="startRobot()"><span id="start-text">启动Robot</span></p>
                        </h3>
                        <span class="add-atom-entry" ng-show="isShowCaseNew()"><i class="add-plus-icon"
                                ng-click="addItem(cmd)"></i></span>
                        <section style="overflow-y: auto;height:250">
                            <div class="container-atom-list" ng-repeat="cmd in curProtocolArr" id="case_protocols">
                                <li class="atom-item">
                                    <section class="atom-item atom-section normal-atom">
                                        <svg width="18" height="18" viewBox="0 0 32 32" class="atom-icon"
                                            ng-click="showProtocol(false, cmd)">
                                            <path
                                                d="M25.82 4H23c0-1.1-.98-2-2.2-2h-.2c0-1.1-.98-2-2.2-2h-4.8c-1.22 0-2.2.9-2.2 2h-.2C9.98 2 9 2.9 9 4H6.18C4.42 4 3 5.34 3 7v22c0 1.66 1.42 3 3.18 3h19.64c1.76 0 3.18-1.34 3.18-3V7c0-1.66-1.42-3-3.18-3zM11.2 4h1.2c.56 0 1-.44 1-1l-.02-.92c.02-.02.08-.08.22-.08h4.8c.12 0 .2.04.2.02V3c0 .56.44 1 1 1h1.2c.12 0 .2.04.2.02v1l.02 2.9c-.02.02-.08.08-.22.08h-9.6c-.08 0-.16-.02-.18-.02S11 7.98 11 8l-.02-2.94c0-.02.02-.04.02-.06s-.02-.04-.02-.08v-.86c.02 0 .08-.06.22-.06zM27 29c0 .56-.52 1-1.18 1H6.18C5.52 30 5 29.56 5 29V7c0-.56.54-1 1.18-1H9v2c0 1.1.98 2 2.2 2h9.6c1.22 0 2.2-.9 2.2-2V6h2.82c.66 0 1.18.44 1.18 1v22z">
                                            </path>
                                            <path
                                                d="M22 16H10c-.56 0-1 .44-1 1s.44 1 1 1h12c.56 0 1-.44 1-1s-.44-1-1-1zM22 20H10c-.56 0-1 .44-1 1s.44 1 1 1h12c.56 0 1-.44 1-1s-.44-1-1-1zM22 24H10c-.56 0-1 .44-1 1s.44 1 1 1h12c.56 0 1-.44 1-1s-.44-1-1-1z">
                                            </path>
                                        </svg>
                                        <p class="atom-name" ng-click="showProtocol(false, cmd)">
                                            <span>{{cmd.name}}</span>
                                        </p>
                                        <i class="add-plus-icon close run" ng-click="runProtocol(cmd)"></i>
                                        <i class="add-plus-icon close" ng-click="removeItem(cmd)"></i>
                                    </section>
                                </li>
                                <span class="add-atom-entry"><i class="add-plus-icon"
                                        ng-click="addItem(cmd)"></i></span>
                            </div>
                        </section>
                        <h3 class="container-title first-ctitle">
                            <span id="stop-btn" class="stage-status container" ng-click="stopRobot()">停止</span>
                            <p class="container-name" ng-click="stopRobot()"><span id="stop-text">停止Robot</span></p>
                        </h3>
                    </div>
                </ul>
                <button id="runall-btn" class="add-plus-icon login-button run-button" ng-click="runAll()">Run
                    All</button><br>
                <button id="runall-btn" class="add-plus-icon login-button run-button"
                    ng-click="messageFilter()">消息筛选</button><br>
                <button id="runall-btn" class="add-plus-icon login-button run-button"
                    ng-click="cleanLogs()">清空控制台</button>
            </div>
        </div>
        <div class="checkbox">
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="checkbox.msgFilter" ng-change="onCheckboxChange('msgFilter')"> 消息筛选
            </label>
            <!-- <label class="checkbox-inline">
                <input type="checkbox" ng-model="checkbox.msgRoll" ng-change="onCheckboxChange('msgRoll')"> 消息滚动
            </label> -->
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="checkbox.rptAtt" ng-change="onCheckboxChange('rptAtt')"> 回执关注
            </label>
        </div>

        <div class="log-half" id="message_content">
            <pre id="jsonShow">  {{messages}}</pre>
        </div>
        <article id="side-protocol" class="bk-sideslider bkci-property-panel" style="z-index: 2021;"
            ng-show="protoShow">
            <section class="bk-sideslider-wrapper right" style="width: 600px;">
                <div class="bk-sideslider-header">
                    <i class="bk-sideslider-closer" style="float: left;" ng-click="showProtocol(false)">
                        <i class="bk-icon icon-angle-right"></i>
                    </i>
                    <div class="bk-sideslider-title" style="padding: 0px 0px 0px 50px;">
                        <header class="property-panel-header">
                            <div>
                                <p>{{curProtocolName}}</p>
                            </div>
                        </header>
                    </div>
                </div>
                <div class="bk-sideslider-content" style="max-height: calc(100vh - 30px); position: relative;">
                    <section class="atom-property-panel">
                        <div class="atom-main-content" style="position: relative;">
                            <div class="atom-form-content">
                                <div class="atom-form-box">
                                    <section class="bk-form bk-form-vertical atom-content" atom="[object Object]">
                                        <div class="form-field bk-form-item is-required">
                                            <!-- <label ng-show="protoNew" class="bk-label atom-form-label">选择协议:</label>
                                            <select ng-show="protoNew" class="bk-form-input" ng-model="curProtocolName"
                                                ng-change="addProtoChange(curProtocolName)"
                                                ng-options="v.name for (k, v) in protocols | orderBy:'name' "></select> -->
                                            <label class="bk-label atom-form-label">协议名称:</label>
                                            <input type="text" class="bk-form-input" ng-model="curProtocolName"></input>
                                            <label class="bk-label atom-form-label">协议ID:</label>
                                            <input type="text" class="bk-form-input" ng-model="curProtocolId"></input>
                                            <label class="bk-label atom-form-label">协议参数(json格式)：</label>
                                            <div class="bk-form-content">
                                                <textarea id="parameter" name="parameter" ng-model="curProtocolArgs"
                                                    class="input-textarea">{{curProtocolArgs}}</textarea>
                                            </div><br>
                                            <div>
                                                回执关注(默认关注RES协议)(示例:1000,1001):<input type="text" class="bk-form-input"
                                                    ng-model="curCaseRptAtt"></input>
                                            </div><br>
                                            <div class="center-box">
                                                <button class="add-plus-icon login-button" ng-click="insertProtoData()"
                                                    ng-hide="protoNew">保存</button>
                                                <button class="add-plus-icon login-button" ng-click="insertProtoData()"
                                                    ng-show="protoNew">确定</button>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </article>

        <!--消息筛选-->>
        <article class="bk-sideslider bkci-property-panel" style="z-index: 2021;" ng-show="messageFilterShow">
            <section class="bk-sideslider-wrapper right" style="width: 600px;">
                <div class="bk-sideslider-header">
                    <i class="bk-sideslider-closer" style="float: left;" ng-click="showMessageFilter(false)">
                        <i class="bk-icon icon-angle-right"></i>
                    </i>
                </div>
                <div class="bk-sideslider-content" style="max-height: calc(100vh - 30px); position: relative;">
                    <section class="atom-property-panel">
                        <div class="atom-main-content" style="position: relative;">
                            <div class="atom-form-content">
                                <div class="atom-form-box">
                                    <section class="bk-form bk-form-vertical atom-content" atom="[object Object]">
                                        <div class="form-field bk-form-item is-required">
                                            <label ng-show="protoNew" class="bk-label atom-form-label">选择协议:</label>
                                            <label
                                                class="bk-label atom-form-label">消息筛选(格式:逗号分割)(例如:10000,10001)</label>
                                            <div class="bk-form-content">
                                                <textarea id="parameter" name="parameter" ng-model="messageFilterText"
                                                    class="input-textarea">{{messageFilterText}}</textarea>
                                            </div><br>
                                            <div class="center-box">
                                                <button class="add-plus-icon login-button" ng-click="upProtFilter()"
                                                    ng-hide="protoNew">保存</button>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </article>

        <!--服务器列表-->>
        <article class="bk-sideslider bkci-property-panel" style="z-index: 2021;" ng-show="svrListShow">
            <section class="bk-sideslider-wrapper right" style="width: 600px;">
                <div class="bk-sideslider-header">
                    <i class="bk-sideslider-closer" style="float: left;" ng-click="showSvrList(false)">
                        <i class="bk-icon icon-angle-right"></i>
                    </i>
                </div>
                <div class="bk-sideslider-content" style="max-height: calc(100vh - 30px); position: relative;">
                    <div class="center-box">
                        <button class="add-plus-icon login-button" ng-click="showSvrAdEd(true)"
                            ng-hide="protoNew">添加服务器</button>
                    </div>
                    <section class="atom-property-panel">
                        <div class="atom-main-content" style="position: relative;">
                            <div class="atom-form-content">
                                <div class="atom-form-box">
                                    <section class="bk-form bk-form-vertical atom-content" atom="[object Object]">
                                        <div class="form-field bk-form-item is-required">
                                            <ul ng-repeat="server in serverList">
                                                <li class="srv-li">
                                                  {{ server.name }} - {{ server.address }}:{{ server.port }}
                                                  <button class="edit-btn" ng-click="editServer(server)">编辑</button>
                                                  <button class="del-btn" ng-click="delServer(server)">删除</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </article>

        <!--编辑/添加服务-->
        <article class="bk-sideslider bkci-property-panel" style="z-index: 2021;" ng-show="svrAdEdShow">
            <section class="bk-sideslider-wrapper right" style="width: 600px;">
                <div class="bk-sideslider-header">
                    <i class="bk-sideslider-closer" style="float: left;" ng-click="showSvrAdEd(false)">
                        <i class="bk-icon icon-angle-right"></i>
                    </i>
                </div>
                <div class="bk-sideslider-content" style="max-height: calc(100vh - 30px); position: relative;">
                    <section class="atom-property-panel">
                        <div class="atom-main-content" style="position: relative;">
                            <div class="atom-form-content">
                                <div class="atom-form-box">
                                    <section class="bk-form bk-form-vertical atom-content" atom="[object Object]">
                                        <div class="form-field bk-form-item is-required">
                                            <div class="atom-form-box">
                                                <label class="bk-label atom-form-label">名称:</label>
                                                <input type="text" class="bk-form-input" ng-model="curServer.name"></input>
                                                <label class="bk-label atom-form-label">地址:</label>
                                                <input type="text" class="bk-form-input" ng-model="curServer.address"></input>
                                                <label class="bk-label atom-form-label">端口:</label>
                                                <input type="text" class="bk-form-input" ng-model="curServer.port"></input>
                                            </div><br>
                                            <div class="center-box" style="width: 100%;height: 80px;">
                                                <button class="add-plus-icon login-button" ng-click="saveServer()"
                                                ng-hide="protoNew">保存</button>
                                            </div>
                                            <div class="center-box" style="width: 100%;height: 80px;">
                                                <button class="add-plus-icon login-button" ng-click="showSvrAdEd(false, true)"
                                                ng-hide="protoNew">取消</button>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </article>

        <article id="side-case" class="bk-sideslider bkci-property-panel" style="z-index: 2021;" ng-show="caseShow">
            <section class="bk-sideslider-wrapper right" style="width: 600px;">
                <div class="bk-sideslider-header">
                    <i class="bk-sideslider-closer" style="float: left;" ng-click="showCase(false)">
                        <i class="bk-icon icon-angle-right"></i>
                    </i>
                    <div class="bk-sideslider-title" style="padding: 0px 0px 0px 50px;">
                        <header class="property-panel-header">
                            <div>
                                <p>配置测试用例</p>
                            </div>
                        </header>
                    </div>
                </div>
                <div class="bk-sideslider-content" style="max-height: calc(100vh - 30px); position: relative;">
                    <section class="atom-property-panel">
                        <div class="atom-main-content" style="position: relative;">
                            <div class="atom-form-content">
                                <div class="atom-form-box">
                                    <section class="bk-form bk-form-vertical atom-content" atom="[object Object]">
                                        <label class="bk-label atom-form-label">新建测试用例:</label>
                                        <input type="checkbox" ng-model="caseNew" ng-change="newCase()">
                                        <div style="width: 100%; height: 30px;"></div>
                                        <label class="bk-label atom-form-label">上传本地配置:</label>
                                        <input type="file" accept=".json" class="bk-form-input"
                                            onchange="angular.element(this).scope().uploadFile(this.files)" />
                                        <label ng-show="caseNew || caseEdit" class="bk-label atom-form-label">输入用例名称:</label>
                                        <input ng-show="caseNew || caseEdit" type="text" class="bk-form-input"
                                            ng-model="curCaseName"></input>
                                        <label ng-show="!caseNew && !caseEdit" class="bk-label atom-form-label">选择测试用例:</label>
                                        <select ng-show="!caseNew && !caseEdit" class="bk-form-input" ng-model="curCase"
                                            ng-options="key for (key, value) in accordsList"
                                            ng-change="changeCases()"></select>
                                        <label class="bk-label atom-form-label">选择服务器:</label>
                                        <button id="runall-btn" class="edit-btn" ng-click="showSvrList(true)">编辑</button><br>
                                        <select class="bk-form-input" ng-model="serverAddr"
                                            ng-options="x for x in servers"></select>
                                        <label class="bk-label atom-form-label">输入OPENID:</label>
                                        <input type="text" class="bk-form-input" ng-model="openid"></input>
                                        <label class="bk-label atom-form-label">输入密码:</label>
                                        <input type="text" class="bk-form-input" ng-model="passwd"></input>
                                        <label class="bk-label atom-form-label">回执关注(示例:1000,1001):</label>
                                        <input type="text" class="bk-form-input" ng-model="curRptAtt"></input>
                                        <div class="center-box" style="width: 100%;height: 80px;">
                                            <button class="add-plus-icon login-button" ng-click="saveCase(false)"
                                                ng-hide="caseNew">保存</button>
                                            <button class="add-plus-icon login-button" ng-click="insertCase()"
                                                ng-show="caseNew">添加</button>
                                        </div>
                                        <div class="center-box" style="width: 100%;height: 80px;" ng-show="caseEdit">
                                            <button class="add-plus-icon login-button" ng-click="saveCase(true)">克隆</button>
                                        </div>
                                        <div class="center-box" style="width: 100%;height: 80px;" ng-show="caseEdit">
                                            <button class="login-button" ng-click="editCase(false)">取消</button>
                                        </div>
                                        <div class="center-box" style="width: 100%;height: 80px;" ng-show="upload">
                                            <button class="login-button" ng-click="uploadLocal()"
                                                ng-show="upload">上传</button>
                                        </div>
                                        <div class="center-box" style="width: 100%;height: 80px;">
                                            <button class="add-plus-icon login-button" ng-click="editCase(true)" ng-show="!caseEdit&&!caseNew">编辑</button>
                                        </div>
                                        <div class="center-box" style="width: 100%;height: 80px;">
                                            <button class="login-button del-btn" ng-click="deleteCase()" ng-show="showDeleteCase()">删除</button>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </article>
    </div>
</body>
<script>
    window.addEventListener('DOMContentLoaded', function() {
        var cssPath = "/style";
        var cssUrl = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port + cssPath;
        console.log("cssUrl=%s", cssUrl)
        var cssLink = document.createElement("link");
            cssLink.rel = "stylesheet";
            cssLink.href = cssUrl;
        document.head.appendChild(cssLink);
    });
    var app = angular.module('robot', [])
    app.controller('protocol', function ($scope, $http, $interval) {
        $scope.openid = null
        $scope.passwd = null
        $scope.logined = false
        $scope.caseShow = false
        $scope.protoShow = false
        $scope.messageFilterShow = false
        $scope.serverAddr = null
        $scope.robotStatus = "未启动"
        $scope.showOperator = false
        $scope.protoNew = false
        $scope.caseNew = false
        $scope.caseEdit = false
        $scope.curRptAtt = ""
        $scope.upload = false
        $scope.uploadConfig = {}
        $scope.checkbox = {
            msgFilter: true,
            rptAtt: true,
            msgRoll: true
        }

        $scope.svrListShow = false,
        $scope.svrAdEdShow = false,
        $scope.serverList = {}
        $scope.curServer = {
            id:0,
            name:"",
            address:"",
            port:null
        }

        //协议列表
        $scope.accordsList = {}
        //队列请求
        $scope.queueReqList = []

        //测试用例
        $scope.curCase = null
        $scope.curCaseName = "请选择测试用例"
        $scope.curProtocols = null
        $scope.curProtocolArr = []

        //当前协议配置
        $scope.curProtocolName = ""
        $scope.curProtocolId = 0
        $scope.curProtocolArgs = "{\n\}"
        $scope.curCaseRptAtt = ""

        //消息过滤配置
        $scope.messageFilterText = ""
        $scope.messages = ""

        //全局信息
        $scope.tescases = []
        $scope.servers = []
        $scope.messageFilters = {}

        //初始化数据
        $scope.loadData = function(){
            console.log("loadData...")
            $http.post('/server_list', {}).
            then(function (response) {
                if (response && response.data && response.data.server_list) {
                    $scope.serverList = response.data.server_list
                    $scope.refreshServer()
                }
                else{
                    console.log("load server_list is fail 1(response=%s)", JOSN.stringify(response))
                }
            }, function (response) {
                console.log("load server_list is fail 2(response=%s)", JOSN.stringify(response))
            });

            $http.post('/accord_list', {}).
            then(function (response) {
                if (response && response.data && response.data.accord_list) {
                    $scope.accordsList = response.data.accord_list
                    for(var key in response.data.accord_list){
                        var accord = response.data.accord_list[key]
                        if(accord){
                            $scope.accordsList[accord.name] = {}
                            var newAccord = $scope.accordsList[accord.name]
                            newAccord.name = accord.name
                            newAccord.openid = accord.openid
                            newAccord.passwd = accord.passwd
                            newAccord.server = accord.server
                            newAccord.rpt_att = []
                            newAccord.protocols = {}
                            //回执关注
                            for(var rpt_key in accord.rpt_att){
                                var rpt = accord.rpt_att[rpt_key]
                                newAccord.rpt_att.push(rpt)
                            }
                            //协议数据
                            for(var name in accord.protocols){
                                var proto = accord.protocols[name]
                                newAccord.protocols[name] = {}
                                var newProto = newAccord.protocols[name]
                                newProto.id = proto.id
                                newProto.name = name
                                newProto.time = proto.time | 0
                                newProto.args = proto.args
                                newProto.rpt_att = []
                                //回执关注
                                for(var rpt_key in proto.rpt_att){
                                    var rpt = proto.rpt_att[rpt_key]
                                    newProto.rpt_att.push(rpt)
                                }
                            }
                        }
                    }
                    console.log("loadData accordsList=%s", JSON.stringify($scope.accordsList))
                }
                else{
                    console.log("load on_accord_list is fail 1(response=%s)", JOSN.stringify(response))
                }
            }, function (response) {
                console.log("load on_accord_list is fail 2(response=%s)", JOSN.stringify(response))
            });

        }
        $scope.loadData()
        //新增协议选中
        $scope.addProtoChange = function (protoIndex) {
            $scope.curProtocolArgs = JSON.stringify(protoIndex.fields, null, 2)
        }
        //获取map长度
        $scope.getMapCount = function(map){
            var count = 0
            for(var key in map){
                count++
            }
            return count
        }
        //验证地址是否合法
        $scope.isValidIP = function(address){
            const ipPattern = /^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$/;
            return ipPattern.test(address);
        }
        //设置当前协议
        $scope.setCurProtocols = function(val){
            $scope.curProtocols = val
            $scope.upCurProtocolArr()
        }
        //更新协议数组
        $scope.upCurProtocolArr = function(){
            $scope.curProtocolArr = []
            if($scope.curProtocols){
                for(var key in $scope.curProtocols){
                    var proto = $scope.curProtocols[key]
                    $scope.curProtocolArr.push(proto)
                }
                $scope.curProtocolArr.sort(function(a, b){
                    return a.time-b.time
                })
            }
        }
        //是否显示新建标记
        $scope.isShowCaseNew = function(){
            if($scope.caseNew){
                return true
            }
            if($scope.curCase && $scope.getMapCount($scope.curCase.protocols) == 0){
                return true
            }
            return false
        }
        $scope.prettyFormat = function (str) {
            try {
                // 去除JSON.stringify带来的hashkey
                str.$$hashKey = undefined
                // 设置缩进为2个空格
                str = JSON.stringify(str, null, 2);
                str = str
                    .replace(/&/g, '&amp;')
                    .replace(/</g, '&lt;')
                    .replace(/>/g, '&gt;');
                return str.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                    var cls = 'number';
                    if (/^"/.test(match)) {
                        if (/:$/.test(match)) {
                            cls = 'key';
                        } else {
                            cls = 'string';
                        }
                    } else if (/true|false/.test(match)) {
                        cls = 'boolean';
                    } else if (/null/.test(match)) {
                        cls = 'null';
                    }
                    return '<span class="' + cls + '">' + match + '</span>';
                });
            } catch (e) {
                alert("异常信息:" + e);
            }
        }
        //定时器
        $interval(function () {
            if ($scope.logined) {
                //处理滚动条
                var divscll = document.getElementById('message_content');
                divscll.scrollTop = divscll.scrollHeight;
                //发送心跳
                $scope.runHeartBeat()
                //获取服务器推送消息
                $http.get('/message', {
                    params: {
                        "open_id": $scope.openid
                    }
                }).then(function (response) {
                    // console.log("message", response.data)
                    if (response.data.hasOwnProperty("msg") && Object.keys(response.data.msg).length != 0) {
                        var append = true
                        if (Object.getOwnPropertyNames($scope.messageFilters).length > 0) {
                            var cmd_id = response.data.msg.cmd_id;
                            if (!$scope.messageFilters[cmd_id]) {
                                append = false
                            }
                        }
                        if (append) {
                            $scope.messages += "\n\n[" + new Date().Format("yyyy-MM-dd hh:mm:ss S") + "]服务器通知:\n" + $scope.prettyFormat(response.data)
                            document.getElementById('jsonShow').innerHTML = $scope.messages
                        }
                    }
                });
            }
        }, 1000 * 1);
        //成员函数
        $scope.showProtocol = function (isNew, cmd) {
            $scope.protoNew = isNew
            $scope.protoShow = cmd ? true : false;
            if (cmd && cmd.id) {
                $scope.curProtocolId = parseInt(cmd.id)
                $scope.curProtocolName = cmd.name
                $scope.curProtocolArgs = JSON.stringify(cmd.args, null, "    ")
                $scope.curCaseRptAtt = cmd.rpt_att.join(",")
            }
        }
        //显示消息过滤框
        $scope.showMessageFilter = function (value) {
            $scope.messageFilterShow = value
        }
        //显示服务器列表
        $scope.showSvrList = function (value) {
            if(value){
                $scope.caseShow = false
            }else{
                $scope.caseShow = true
            }
            $scope.svrListShow = value
        }
        //显示添加/编辑框
        $scope.showSvrAdEd = function (value, back) {
            $scope.svrAdEdShow = value
            if (back) {
                this.showSvrList(true)
                console.log("显示列表...")
            }
            $scope.curServer.name = ""
            $scope.curServer.address = ""
            $scope.curServer.port = null
        }
        //保存服务
        $scope.saveServer = function () {
            if(!$scope.curServer){
                alert("数据不正确,请重新配置");
                return
            }

            //配置验证
            if(!$scope.curServer.name){
                alert("名称不正确,请检查!");
                return
            }

            if(!$scope.curServer.address || !this.isValidIP($scope.curServer.address)){
                alert("地址不正确,请检查!");
                return
            }

            if(!$scope.curServer.port || $scope.curServer.port <= 0){
                alert("端口不正确,请检查!");
                return
            }

            //遍历数据
            for(var id in $scope.serverList){
                console.log("id=%s server=%s", id, JSON.stringify($scope.serverList[id]))
            }

            $http.post('/server_edit', {
                "data": $scope.curServer
            }).then(function (response) {
                if (response) {
                     //更新数据
                    var server = $scope.serverList[$scope.curServer.name]
                    if (!server){
                        $scope.serverList[$scope.curServer.name] = {}
                        server = $scope.serverList[$scope.curServer.name]
                    }

                    server.name = $scope.curServer.name
                    server.address = $scope.curServer.address
                    server.port = $scope.curServer.port
                    $scope.showSvrAdEd(false, true)
                    $scope.refreshServer()
                }
            }, function (response) {
                alert("保存失败")
            });
        }
        //编辑服务
        $scope.editServer = function (server) {
            console.log("editServer server(%s)", server)
            this.showSvrAdEd(true)
            //拷贝配置
            $scope.curServer.name = server.name
            $scope.curServer.address = server.address
            $scope.curServer.port = server.port
        }
        //删除服务
        $scope.delServer = function (server) {
            console.log("delServer server(%s)", server)
            $http.post('/server_del', {
                "data": server
            }).then(function (response) {
                if (response) {
                    delete $scope.serverList[server.name]
                    $scope.refreshServer()
                }
                $scope.showSvrAdEd(false, true)
            }, function (response) {
                alert("删除失败")
            });
        }
        //刷新服务
        $scope.refreshServer = function(){
            $scope.servers = []
            for (var key in $scope.serverList) {
                var server = $scope.serverList[key]
                var name = server.name + "(" + server.address + ":" + server.port + ")"
                $scope.servers.push(name)
            }
        }
        // $scope.servers = response.data.servers
        $scope.uploadLocal = function () {
            $http.post('/upload', {
                "data": $scope.uploadConfig
            }).then(function (response) {
                if (response && response.data) {
                    var data = response.data.data
                    $scope.accordsList[data.name] = data
                    $scope.curCase = data
                    $scope.changeCases()
                    alert("上传成功")
                }
            }, function (response) {
                alert("上传失败")
            });
        }
        $scope.showCase = function (isShow) {
            $scope.caseShow = isShow
            if (!isShow && $scope.logined) {
                //暂停机器人
                $scope.stopRobot()
            }
        }
        //保存数据
        $scope.saveCase = function(clone){
            //配置验证
            if(!$scope.curCaseName){
                alert("请输入用例名称!")
                return
            }

            if(!$scope.openid){
                alert("请输入OPENID!")
                return
            }

            if(!$scope.passwd){
                alert("请输入密码!")
                return
            }

            //回执关注
            var rptAtt = []
            if($scope.curRptAtt){
                var array = $scope.curRptAtt.split(",")
                for(var i=0; i<array.length; i++){
                    var val = parseInt(array[i])
                    if(val){
                        rptAtt.push(val)
                    }
                }
            }

            var low_name = $scope.curCase.name
            if(clone && low_name == $scope.curCaseName){
                alert("请输入不同的用例名称,完成克隆!")
                return
            }

            accords = $scope.accordsList[$scope.editCase ? $scope.curCase.name : $scope.curCaseName]
            if(!accords){
                accords = {
                    name:$scope.curCaseName,
                    openid:$scope.openid,
                    passwd: $scope.passwd,
                    server: $scope.serverAddr,
                    rpt_att: rptAtt,
                    protocols: {}
                } 
            }else{
                accords.name = $scope.curCaseName
                accords.openid = $scope.openid
                accords.passwd = $scope.passwd
                accords.server = $scope.serverAddr
                accords.rpt_att = $scope.rptAtt
            }

            $http.post('/accord_edit', {
                "data": {
                    accords:accords,
                    low_name:low_name,
                    clone: clone
                }
            }).then(function (response) {
                if (response) {
                    $scope.accordsList[$scope.curCaseName] = accords
                    $scope.upProtFilter()
                    $scope.showCase(false)
                    $scope.caseEdit = false
                    $scope.caseNew = false
                    //删除老数据
                    if(!clone && low_name != $scope.curCaseName){
                        delete $scope.accordsList[low_name]
                    }
                    $scope.curCase = accords 
                    console.log("accord_edit 保存成功...")
                }
            }, function (response) {
                alert("保存失败")
            });
        }
        //添加测试用例
        $scope.insertCase = function () {
            //配置验证
            if(!$scope.curCaseName){
                alert("请输入用例名称!")
                return
            }

            if(!$scope.openid){
                alert("请输入OPENID!")
                return
            }

            if(!$scope.passwd){
                alert("请输入密码!")
                return
            }

            if($scope.accordsList[$scope.curCaseName]){
                alert("测试用例已存在!")
                return
            }

            //回执关注
            var rptAtt = []
            if($scope.curRptAtt){
                var array = $scope.curRptAtt.split(",")
                for(var i=0; i<array.length; i++){
                    var val = parseInt(array[i])
                    if(val){
                        rptAtt.push(val)
                    }
                }
            }
            
            //构建数据结构
            var accords = {
                name:$scope.curCaseName,
                openid:$scope.openid,
                passwd: $scope.passwd,
                server: $scope.serverAddr,
                rpt_att: rptAtt,
                protocols: {}
            } 

            $http.post('/accord_edit', {
                "data": {
                    accords:accords,
                    low_name:accords.name,
                    clone: false
                }
            }).then(function (response) {
                if (response) {
                    $scope.accordsList[$scope.curCaseName] = accords
                    $scope.curCase = accords
                    $scope.setCurProtocols(accords.protocols)
                    console.log("accord_edit 保存成功...")
                    $scope.showCase(false)
                    $scope.caseEdit = false
                    $scope.caseNew = false
                    alert("添加成功!")
                }
            }, function (response) {
                alert("添加失败")
            });
            $scope.showOperator = true
        }
        //是否显示删除按钮
        $scope.showDeleteCase = function(){
            if(!$scope.caseNew && $scope.curCase && !$scope.caseEdit){
                return true
            }
            return false
        }
        //是否显示编辑按钮
        $scope.showEditCase = function(){
            if(!$scope.caseNew && $scope.curCase){
                return true
            }
            return false
        }
        //是否
        //删除测试用例
        $scope.deleteCase = function () {
            if(!$scope.curCase){
                return
            }

            $http.post('/accord_del', {
                "data": {
                    name: $scope.curCaseName
                }
            }).then(function (response) {
                if (response) {
                    delete $scope.accordsList[$scope.curCaseName]
                    alert("删除成功!")
                }
            }, function (response) {
                alert("删除失败")
            });
        }
        //编辑测试用例
        $scope.editCase = function (val) {
            $scope.caseEdit = val
        }
        //上传文件
        $scope.uploadFile = function (files) {
            console.log("uploadFile", files)
            var reader = new FileReader();
            reader.onload = function () {
                if (reader.result) {
                    try {
                        $scope.uploadConfig = reader.result
                        $scope.showOperator = true
                        $scope.upload = true
                    } catch (err) {
                        alert("加载文件失败 " + err)
                    }
                }
            }
            reader.readAsText(files[0])
        }
        //刷新消息过滤
        $scope.upProtFilter = function () {
            $scope.messageFilters = {}
            var id_logs = []
            //协议过滤的数据
            if ($scope.checkbox.msgFilter) {
                var cmds = $scope.messageFilterText.split(",")
                for (var i = 0; i < cmds.length; i++) {
                    var cmd_id_s = cmds[i].split("-")
                    if (cmd_id_s.length <= 2) {
                        if (cmd_id_s.length == 1) {
                            var cmd_id = parseInt(cmd_id_s[0])
                            if (cmd_id) {
                                $scope.messageFilters[cmd_id] = cmd_id;
                                id_logs.push(cmd_id)
                            }
                        } else {
                            var s_cmd_id = parseInt(cmd_id_s[0])
                            var e_cmd_id = parseInt(cmd_id_s[1])
                            for (var id = s_cmd_id; id <= e_cmd_id; id++) {
                                $scope.messageFilters[id] = id;
                                id_logs.push(cmd_id)
                            }
                        }
                    }
                }
            }

            //回执关注的数据
            if ($scope.checkbox.rptAtt && $scope.curProtocols) {
                for (var key in $scope.curProtocols) {
                    var item = $scope.curProtocols[key]
                    if (!item) {
                        continue
                    }
                    var res_id = parseInt(item.id)+1
                    //添加默认res协议
                    $scope.messageFilters[res_id] = res_id;
                    id_logs.push(res_id)
                    for (var j = 0; j < item.rpt_att.length; j++) {
                        var id = item.rpt_att[j]
                        if (id) {
                            $scope.messageFilters[id] = id;
                            id_logs.push(id)
                        }
                    }
                }
            }
            console.log("msgFilters=%s",id_logs.join(","))
            $scope.showMessageFilter(false)
        }
        //新增协议
        $scope.insertProtoData = function () {
            //读取输入
            var add = false
            var newProtocol = $scope.curCase.protocols[$scope.curProtocolName.toString()]
            if(!newProtocol){
                add = true
                newProtocol = new Object()
                newProtocol.time = Math.floor(Date.now() / 1000)
            }else{
                newProtocol = $scope.curCase.protocols[$scope.curProtocolName.toString()]
            }
            newProtocol.id = parseInt($scope.curProtocolId)
            newProtocol.name = $scope.curProtocolName.toString()
            if(!newProtocol.name){
                alert("协议名称不正确!")
                return
            }

            if(!newProtocol.id || newProtocol.id < 0){
                alert("协议id不正确!")
                return
            }

            
            newProtocol.args = {}
            newProtocol.rpt_att = []
            //协议参数
            if ($scope.curProtocolArgs) {
                try {
                    newProtocol.args = JSON.parse($scope.curProtocolArgs)
                } catch (err) {
                    alert("参数错误,请检查协议参数json格式是否合法" + err)
                    return
                }
            } else {
                newProtocol.args = {}
            }
            //回执关注
            if ($scope.curCaseRptAtt) {
                var arr = $scope.curCaseRptAtt.split(",")
                for(var i=0; i<arr.length; i++){
                    var val = parseInt(arr[i])
                    if(val){
                        newProtocol.rpt_att.push(val)
                    }
                }
            }
            
            if(!$scope.curProtocols){
                alert("数据异常,请刷新网页再尝试")
                return
            }

            //编辑协议
            $http.post('/proto_edit', {
                "data": {
                    name:$scope.curCase.name.toString(),
                    data: newProtocol
                }
            }).then(function (response) {
                if (response) {
                    $scope.curCase.protocols[newProtocol.name] = newProtocol
                    $scope.upProtFilter()
                    $scope.upCurProtocolArr()
                    if(add){
                        alert("添加成功")
                    }else{
                        $scope.showProtocol(false)
                        alert("保存成功")
                    }
                }
            }, function (response) {
                alert("保存失败")
            });
        }
        //新建测试用例
        $scope.newCase = function () {
            $scope.openid = null
            $scope.passwd = null
            $scope.serverAddr = null
            $scope.curCaseName = null
            $scope.setCurProtocols(null)
            $scope.curRptAtt = ""
        }
        $scope.changeCases = function () {
            if($scope.curCase){
                $scope.showOperator = true
                $scope.openid = $scope.curCase.openid
                $scope.passwd = $scope.curCase.passwd
                $scope.serverAddr = $scope.curCase.server
                $scope.curCaseName = $scope.curCase.name
                $scope.setCurProtocols($scope.curCase.protocols)
                $scope.curRptAtt = $scope.curCase.rpt_att.join(",")
            }else{
                console.log("changeCases curCase is null")
            }
        }
        //控制台日志日期格式
        Date.prototype.Format = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1, // 月份
                "d+": this.getDate(), // 日
                "h+": this.getHours(), // 小时
                "m+": this.getMinutes(), // 分
                "s+": this.getSeconds(), // 秒
                "q+": Math.floor((this.getMonth() + 3) / 3), // 季度
                "S": this.getMilliseconds() // 毫秒
            };
            if (/(y+)/.test(fmt))
                fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
        //心跳
        $scope.runHeartBeat = function () {
            var cmd = {}
            var heartArgs = {}
            heartArgs.time = 0
            cmd.id = 1001;
            cmd.args = heartArgs;
            $http.post('/run', {
                "open_id": $scope.openid,
                "cmd_id": cmd.id,
                "data": cmd.args
            }).then(function (response) {
                if (response.data.code != 0) {
                    return
                }
            }, function (response) {
                console.log("请求处理失败", response.data)
            });
        }
        //运行单条协议
        $scope.runProtocol = function (cmd) {
            if (!$scope.logined) {
                alert("尚未启动")
                return;
            }
            var cmd_log = {
                id: cmd.id,
                name: cmd.name,
                args: cmd.args
            }
            $scope.messages += "\n\n[" + new Date().Format("yyyy-MM-dd hh:mm:ss S") + "]发送:\n" + $scope.prettyFormat(cmd_log)
            document.getElementById('jsonShow').innerHTML = $scope.messages
            $http.post('/run', {
                "open_id": $scope.openid,
                "cmd_id": cmd.id,
                "data": cmd.args
            }).then(function (response) {
                $scope.messages += "\n[" + new Date().Format("yyyy-MM-dd hh:mm:ss S") + "]应答:\n" + $scope.prettyFormat(response.data)
                document.getElementById('jsonShow').innerHTML = $scope.messages
                if (response.data.code != 0) {
                    return
                }
            }, function (response) {
                $scope.messages += "\n[" + new Date().Format("yyyy-MM-dd hh:mm:ss S") + "]应答:\n" + $scope.prettyFormat(response.data)
            });
        }
        $scope.runAll = function (cmd) {
            if (!$scope.logined) {
                alert("尚未启动")
                return;
            }

            //添加队列
            for(var i=0; i<$scope.curProtocolArr.length; i++){
                var proto = $scope.curProtocols[i]
                var add = {
                    id : proto.id,
                    name : proto.name,
                    args : proto.args,
                }
                $scope.queueReqList.push(add)
            }
            this.runQueueRq()
        }
        //运行队列请求
        $scope.runQueueRq = function(){
            var req = $scope.queueReqList[0]
            if(!req){
                return
            }
            console.log("执行 rq(%s)", JSON.stringify(req))
            $scope.messages += "\n[" + new Date().Format("yyyy-MM-dd hh:mm:ss S") + "]请求:\n" + $scope.prettyFormat(req)
            document.getElementById('jsonShow').innerHTML = $scope.messages
            $http.post('/run', {
                "open_id": $scope.openid,
                "cmd_id": req.id,
                "data": req.args
            }).then(function (response) {
                $scope.messages += "\n[" + new Date().Format("yyyy-MM-dd hh:mm:ss S") + "]应答:\n" + $scope.prettyFormat(response.data)
                document.getElementById('jsonShow').innerHTML = $scope.messages
                $scope.queueReqList.shift();
                $scope.runQueueRq()
                if (response.data.code != 0) {
                    return
                }
            }, function (response) {
                $scope.messages += "\n[" + new Date().Format("yyyy-MM-dd hh:mm:ss S") + "]应答:\n" + $scope.prettyFormat(response.data)
            });
        }
        $scope.startRobot = function (cmd) {
            if ($scope.logined) {
                alert("已启动");
                return;
            }

            if (!$scope.serverAddr){
                alert("请选择服务器");
                return;
            }

            $scope.messages += "\n开始启动机器人"
            //解析ip和port
            const regex = /\((.*?)\)/g;
            const matches = $scope.serverAddr.match(regex);
            const connections = matches.map(match => match.substring(1, match.length - 1));
            var ipInfo = connections[0].split(":");
            $http.post('/create', {
                "ip": ipInfo[0],
                "port": Number(ipInfo[1]),
                "open_id": $scope.openid,
                "passwd": $scope.passwd
            }).then(function (response) {
                if (response.data.code != 0) {
                    alert("启动失败" + response.data.msg)
                    $scope.messages += "\n启动失败" + response.data.msg
                    return
                }
                console.log("启动成功")
                $scope.logined = true
                $scope.toggleStatus()
            }, function (response) {
                alert("启动失败" + response.data)
            });
        }
        $scope.stopRobot = function (cmd) {
            if (!$scope.logined) {
                alert("尚未启动");
                return;
            }
            //发送请求
            $http.post('/destory', {
                "open_id": $scope.openid
            }).then(function (response) {
                if (response.data.code != 0) {
                    alert("停止失败" + response.data.msg)
                    $scope.messages += "\n停止失败" + response.data.msg
                    document.getElementById('jsonShow').innerHTML = $scope.messages
                    return
                }
                $scope.logined = false
                $scope.toggleStatus()
            }, function (response) {
                alert("停止失败" + response.data)
            });
        }
        $scope.addItem = function (cmd) {
            $scope.curProtocolName = null
            $scope.curProtocolId = 0
            $scope.curProtocolArgs = "{\n\}"
            $scope.curCaseRptAtt = ""
            $scope.showProtocol(true, {})
        }
        $scope.removeItem = function (cmd) {
            //编辑协议
            $http.post('/proto_del', {
                "data": {
                    accord_name: $scope.curCase.name,
                    proto_name:cmd.name,
                }
            }).then(function (response) {
                if (response) {
                    delete $scope.curProtocols[cmd.name]
                    $scope.upCurProtocolArr()
                }
            }, function (response) {
                alert("删除失败")
            });
        }
        $scope.messageFilter = function (cmd) {
            $scope.showMessageFilter(true)
        }
        $scope.cleanLogs = function (cmd) {
            $scope.messages = ""
            document.getElementById('jsonShow').innerHTML = $scope.messages
        }
        $scope.setupTestCase = function () {
            $scope.caseShow = true
        }
        $scope.toggleStatus = function () {
            if ($scope.logined) {
                $scope.messages += "\n启动成功"
                $scope.robotStatus = "运行中"
                document.getElementById("heartbeat-light").className = "heartbeat-icon light-green"
                document.getElementById('jsonShow').innerHTML = $scope.messages
            } else {
                $scope.messages += "\n停止成功"
                $scope.robotStatus = "已停止"
                document.getElementById("heartbeat-light").className = "heartbeat-icon light-gray"
                document.getElementById('jsonShow').innerHTML = $scope.messages
            }
        }
        $scope.onCheckboxChange = function (kind) {
            console.log("onCheckboxChange kind=%s", kind)
            if (kind == "msgFilter") {
                this.upProtFilter()
            }
            else if (kind == "msgRoll") {

            }
            else if (kind == "rptAtt") {
                this.upProtFilter()
            }
        }
    });
</script>

</html>