name: Ubuntu

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: devel
      run: sudo apt-get update -y && sudo apt-get install -y libcurl4-gnutls-dev
    - name: make
      run: make all
